.logo{
    width: 60px;
    height: 60px;
}

.container-fluid{
    font-size: larger;
}

.jumbotron{
    background-image: url(./images/portada.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 30px;
    text-align: justify;
    font-size: x-large;
    font-family: sans-serif;
    

}
.cuerpo-principal{
    display: grid;
    padding: 10px;
    text-align: justify;
}

.mb-3{
    padding: 40px;
    display: flexbox;
}
.blog{
    background: #f8c6eb;
    display: flex;
    justify-content: space-between;
    padding: 30px;
}
.card{
    text-align: justify;
    align-items: center;
    align-content: center;
}
.adicional{
    background: #a7f0b3;
    display: flex;
    padding: 40px;
    justify-content: space-between;
    align-items: center;
}
.card-img-top{
    height: 350px;
    width: 5px;
}
.card-final{
    display: flex;
    padding: 20px;

}

